.row{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
section{
    height: 50vh;
    overflow-y: auto;
}
.answer-field{
    flex-grow: 1;
    border: 1px solid #e7e7e7;
    box-shadow:  0 1px 1px rgba(0,0,0,0.04);
}
#common form{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
#common form *{
    margin: 0.5em;
}
#common form input{
    padding: 1em 2em;
}
#gameOver, #speech{
    display: block;
    width: 80%;
    margin: 0 auto;
}
#map{
    margin: 0 auto;
}